.header-section{
    background-color:#264653;
   
}
.fa-star{
    color: #E77C40;
}
.color{
    color: #E76F51;

}

#subscribe{
    background-color: #fceae8;

}
.image{
    filter: grayscale(100%);
}
.section-margin{
    margin-top: 150px;
}